In [34]:
import numpy as np
import pandas as pd

df = pd.read_csv('moviereviews2.tsv',sep='\t')

In [35]:
df.head()

  label                                             review
0   pos  I loved this movie and will watch it again. Or...
1   pos  A warm, touching movie that has a fantasy-like...
2   pos  I was not expecting the powerful filmmaking ex...
3   neg  This so-called "documentary" tries to tell tha...
4   pos  This show has been my escape from reality for ...

In [36]:
df.isnull().sum()

label      0
review    20
dtype: int64

In [37]:
len(df)

6000

In [38]:
df.dropna(inplace=True)

In [39]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [40]:
len(df)

5980

In [41]:
blanks = []
for index,label,review in df.itertuples():
    if(review.isspace()):
        blanks.append(index)
df.drop(blanks,inplace=True)

In [42]:
len(df)

5980

In [43]:
X = df['review']
y = df['label']

In [44]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
text_clf = Pipeline([('tfidf', TfidfVectorizer()),
                     ('clf', LinearSVC()),
])

In [45]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.33, random_state=42)

In [46]:
len(X)

5980

In [47]:
len(X_train)

4006

In [48]:
len(X_test)

1974

In [49]:
text_clf.fit(X_train,y_train)

Pipeline(memory=None,
     steps=[('tfidf', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
 ...ax_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0))])

In [50]:
predictions = text_clf.predict(X_test)

In [51]:
from sklearn import metrics

In [52]:
print(metrics.confusion_matrix(y_test,predictions))

[[900  91]
 [ 63 920]]

In [53]:
print(metrics.classification_report(y_test,predictions))

             precision    recall  f1-score   support

        neg       0.93      0.91      0.92       991
        pos       0.91      0.94      0.92       983

avg / total       0.92      0.92      0.92      1974

In [54]:
print(metrics.accuracy_score(y_test,predictions))

0.9219858156028369

In [55]:
text_clf.predict(["This movie is good."])

array(['pos'], dtype=object)