In [1]:
import nltk

In [8]:
import numpy as np
import pandas as pd

In [2]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/vaishnavir/nltk_data...

True

In [5]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [6]:
sid = SentimentIntensityAnalyzer()

In [47]:
df = pd.read_csv("../TextFiles/moviereviews2.tsv",sep='\t')

In [48]:
df.head()

  label                                             review
0   pos  I loved this movie and will watch it again. Or...
1   pos  A warm, touching movie that has a fantasy-like...
2   pos  I was not expecting the powerful filmmaking ex...
3   neg  This so-called "documentary" tries to tell tha...
4   pos  This show has been my escape from reality for ...

In [49]:
df.isnull().sum()

label      0
review    20
dtype: int64

In [50]:
df.dropna(inplace=True)

In [51]:
blanks=[]
for index,label,review in df.itertuples():
    if review.isspace() == True:
        blanks.append(index)

In [52]:
len(blanks)

0

In [53]:
df.drop(blanks,inplace=True)

In [54]:
sid.polarity_scores(review[0])

{'neg': 0.0, 'neu': 0.0, 'pos': 0.0, 'compound': 0.0}

In [55]:
review[1]

't'

In [56]:
df['label'].value_counts()

pos    2990
neg    2990
Name: label, dtype: int64

In [57]:
df.iloc[1]['review']

"A warm, touching movie that has a fantasy-like quality.<br /><br />Ellen Burstyn is, as always, superb.<br /><br />Samantha Mathis has given many great performances, but there is just something about this one will haunt your memory.<br /><br />Most of all, you've got to see this amazing 5-yr. old, Jodelle Ferland. I was so captivated by her presence, I had to buy the movie so I could watch her again and again. She is a miracle of God's creation.<br /><br />Judging by the high IMDB rating, I'm not the only one who was mesmerized by this young actress."

In [58]:
sid.polarity_scores(df.iloc[1]['review'])

{'neg': 0.033, 'neu': 0.783, 'pos': 0.184, 'compound': 0.9549}

In [59]:
df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))

In [60]:
df.head()

,label,review,scores
0,pos,I loved this movie and will watch it again. Or...,"{'neg': 0.062, 'neu': 0.695, 'pos': 0.243, 'co..."
1,pos,"A warm, touching movie that has a fantasy-like...","{'neg': 0.033, 'neu': 0.783, 'pos': 0.184, 'co..."
2,pos,I was not expecting the powerful filmmaking ex...,"{'neg': 0.097, 'neu': 0.795, 'pos': 0.108, 'co..."
3,neg,"This so-called ""documentary"" tries to tell tha...","{'neg': 0.116, 'neu': 0.832, 'pos': 0.052, 'co..."
4,pos,This show has been my escape from reality for ...,"{'neg': 0.031, 'neu': 0.796, 'pos': 0.173, 'co..."

In [61]:
df['compound_score'] = df['scores'].apply(lambda scores : scores['compound'])

In [62]:
df.head()

,label,review,scores,compound_score
0,pos,I loved this movie and will watch it again. Or...,"{'neg': 0.062, 'neu': 0.695, 'pos': 0.243, 'co...",0.8720
1,pos,"A warm, touching movie that has a fantasy-like...","{'neg': 0.033, 'neu': 0.783, 'pos': 0.184, 'co...",0.9549
2,pos,I was not expecting the powerful filmmaking ex...,"{'neg': 0.097, 'neu': 0.795, 'pos': 0.108, 'co...",0.7201
3,neg,"This so-called ""documentary"" tries to tell tha...","{'neg': 0.116, 'neu': 0.832, 'pos': 0.052, 'co...",-0.9821
4,pos,This show has been my escape from reality for ...,"{'neg': 0.031, 'neu': 0.796, 'pos': 0.173, 'co...",0.9874

In [63]:
df['predicted_label']=df['compound_score'].apply(lambda c: 'pos' if c >= 0 else 'neg')

In [64]:
df.head()

,label,review,scores,compound_score,predicted_label
0,pos,I loved this movie and will watch it again. Or...,"{'neg': 0.062, 'neu': 0.695, 'pos': 0.243, 'co...",0.8720,pos
1,pos,"A warm, touching movie that has a fantasy-like...","{'neg': 0.033, 'neu': 0.783, 'pos': 0.184, 'co...",0.9549,pos
2,pos,I was not expecting the powerful filmmaking ex...,"{'neg': 0.097, 'neu': 0.795, 'pos': 0.108, 'co...",0.7201,pos
3,neg,"This so-called ""documentary"" tries to tell tha...","{'neg': 0.116, 'neu': 0.832, 'pos': 0.052, 'co...",-0.9821,neg
4,pos,This show has been my escape from reality for ...,"{'neg': 0.031, 'neu': 0.796, 'pos': 0.173, 'co...",0.9874,pos

In [65]:
from sklearn import metrics

In [66]:
print(metrics.accuracy_score(df['label'],df['predicted_label']))

0.7319397993311036

In [67]:
print(metrics.confusion_matrix(df['label'],df['predicted_label']))

[[1734 1256]
 [ 347 2643]]

In [68]:
print(metrics.classification_report(df['label'],df['predicted_label']))

             precision    recall  f1-score   support

        neg       0.83      0.58      0.68      2990
        pos       0.68      0.88      0.77      2990

avg / total       0.76      0.73      0.73      5980